/* *** Hotbar *** */

#hotbar {
	.slot > .key {
		padding-right: 0;
		color: var(--color-light-5);
		font-family: var(--font-pirate);
	}

	.slot.open {
		display: flex;
		justify-content: center;
		align-items: center;

		& > .key {
			position: unset;
			background: none;
			font-size: var(--font-size-18);
		}
	}

	.slot.full {
		& > .key {
			top: auto;
			right: 0;
			bottom: 0;
			left: auto;
			border-radius: 8px 0;
		}
	}

	.hotbar-controls {
		align-items: center;
		height: auto;

		.ui-control {
			--control-icon-color: var(--color-light-5);

			&::before {
				font-size: var(--font-size-12);
			}
		}

		.hotbar-page-number {
			color: var(--color-light-5);
			font-family: var(--font-pirate);
			text-shadow: 1px 1px 1px var(--color-cool-5-90);
		}

		#hotbar-page-controls {
			gap: 16px;
		}

		.flexcol {
			gap: 4px;
		}
	}
}

/* *** *** */
